principal {
    background-color: white;
    width: 340px;

}

body {
    font-family: Segoe UI, Roboto, Arial, sans-serif;
    height: 100vh; /* ALtura*/
    display: flex;
    justify-content: center; /*Alinhamento horizontal*/
    align-items: center; /*Alinhamento vertical*/
}
