.principal {
    background-color: white;
    width: 400px;
    color:#333;
    padding: 40px;
    
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
   
}
.principal h1 { 
    
    font-size: 24px; /*Tamanho da letra*/ 
    font-weight: 600; /*a espessura da letra*/
    color: #333;
    text-align: center; 
    margin-bottom: 20px;
}

.inputemail, .inputsenha  {
    width: 100%; /*Larugura*/
    height: 40px; /*Altura*/
    border: 1px solid #ccc;
    padding: 0 10px; /*cima e baixo= 0 e lados 10*/
    border-radius: 8px;
    margin-bottom: 15px;
}

.button {
    width: 100%;
    height: 45px;
    background-color: #007bff;
    color: white;
    border: none; /*sem borda*/
    border-radius: 8px; /*borda arredondada*/

}

.button:hover{
    background-color: #0069d9;
    transition: 0.2s;
}

.button:active {
    transform: translateY(2px);
    background-color: #005cbf;
    box-shadow:none; /*Sombra em tono da caixa*/
   
}
.credenciais {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}



